@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter' ,sans-serif;

}
.layout{
    height: 100%;
    background-image: linear-gradient(to bottom,white,#bfdbfe,white);
}
.container{
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    height: 100%;

}
.navbar{
    display: flex;
     align-items: center;
    justify-content: space-between;
    padding: 16px 0px;
}
.logo{
    font-size: 18px;
    font-weight: 500;
}
.links{
    display: flex;
    align-items: center;
    gap: 20px;
}
.link-items{
    font-size: 15px;
    text-decoration: none;
    color: #525252;
}
.link-items:hover{
    color: black;
    transition: color 0.2s ease-out;
}
.btn{
    all: unset; /*removes all styles from the button*/
    font-size: 15px;
    padding: 8px 12px ;
    background-color: #2563eb;
    border-radius: 6px;
    color: #ffff;
    text-shadow:0px 0.5px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 3px rgba(0,0,0,0.25);
    cursor: pointer;

}
.hero{
    padding: 90px 0px;
}
.badge{
 font-size: 10px;
 max-width: 250px;   
 border-radius: 50px;
 background-color: #e5e5e5;
 border: 0.5px solid #a3a3a3;
 padding: 4px 8px;
 width: fit-content;
 margin: 0 auto;
 display: flex;
 align-items: center;
 justify-content: center;
}
.badge:hover{
    background-color: #a3a3a3;
    transition: background-color 0.2s ease-out;
}
.hero-title{
    font-size: 52px;
    font-weight: 700;
    text-align: center;
    /* margin-top: 35px; */
    letter-spacing: -0.1px;
    line-height: 1.1;
    max-width: 700px;
    margin: 35px auto;
}
.hero-subtitle{
    color: #737373;
    font-size: 17px;
    line-height: 1.4;
    text-align: center;
    max-width: 500px;
    margin: 20px  auto;
}
.hero-cta{
    display: flex;
    justify-content: center;
    gap: 8px;
}
.btn-secondary{
    all: unset; /*removes all styles from the button*/
    font-size: 15px;
    padding: 8px 12px ;
    border-radius: 6px;
    color:black;
    text-shadow:0px 0.5px 1px rgba(0, 0, 0, 0.25);
    background : transparent;
}
.btn-secondary:hover{
    background-color:#a3a3a3;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
}
.left-line{
    height: 100%;
    width: 1px;
    position: absolute;
    left: -10px;
    background-image: linear-gradient(to bottom,#d4d4d4,#d4d4d4,#f5f5f5);
    opacity: 0.5;
}
.right-line{
    height: 100%;
    width: 1px;
    position: absolute;
    right: -10px;
    background-image: linear-gradient(to bottom,#d4d4d4,#d4d4d4,#f5f5f5);
    opacity: 0.5;
}
.hero-image-container{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    
}
.hero-image{
    width: 900px;
    height: 600px;
    margin: 0 auto;
    border-radius: 5px;
     box-shadow: 0px 2px 3px rgba(0,0,0,0.25);
     object-fit: cover;
     object-position: top left;

}
.horizontal-line{
    height: 0.5px;
    width: 100%;
    position: absolute;
    top: -10px;
    background-image:linear-gradient(to right,#e5e5e5 20%,#d4d4d4,white 90%);
    opacity: 0.5;
}